* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hidden {
  display: none !important;
}

.hero {
  position: absolute;
  z-index: -20;
  text-align: center;
  color: #162938;
  width: 60vw;
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 3px #1629385c;
}

.hero h2 {
  font-size: 2rem;
  padding: 40px 0;
  text-transform: capitalize;
  color: #fff;
}

.hero p {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0 80px;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 50px 80px;
  backdrop-filter: blur(2px);
}

.logo {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.logo:hover {
  color: #162938;
  transform: scale(1.3);
  transition: 0.3s ease-in-out;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-transform: capitalize;
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #162938;
  position: relative;
}

.navbar a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #162938;
  border-radius: 10px;
  transition: 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}

.btn-login {
  width: 120px;
  height: 40px;
  text-transform: capitalize;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: whitesmoke;
}

.btn-login:hover {
  background-color: #162938;
  transition: 0.3s ease-in-out;
  backdrop-filter: (5px);
  font-weight: 600;
  color: #fff;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 500px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transform: transform 0.5s ease;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper.active .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.form-box h2 {
  font-size: 2rem;
  text-align: center;
  color: #162938;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.1rem;
  font-weight: 400;
  pointer-events: none;
  color: #162938;
  transition: 0.5s;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box .icon {
  position: absolute;
  right: 10px;
  font-size: 1.2rem;
  color: #162938;
  line-height: 57px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.remember-forgot label input {
  accent-color: #162938;
  margin: 3px;
  cursor: pointer;
}

.remember-forgot a {
  text-decoration: none;
  color: #162938;
}

.remember-forgot a:hover {
  color: rgb(255, 170, 0);
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  margin: 15px 0;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: transparent;
  backdrop-filter: blur(30px);
  outline: none;
  cursor: pointer;
  color: #162938;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  font-weight: 600;
  transition: 0.4s ease-in-out;
}

.login-register {
  font-size: 0.9rem;
  margin: 20px 0;
  text-align: center;
}

.login-register a {
  text-decoration: none;
  color: rgba(146, 0, 0, 0.9);
}

.login-register a:hover {
  color: #162938;
  font-weight: 600;
  text-decoration: underline;
}

.wrapper .close-icon {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 2rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 2;
}

.wrapper .close-icon:hover {
  color: #162938;
  transition: 0.5s;
}

/* 
.login-form {
  width: 400px;
  height: 450px;
  background-color: rgba(3, 84, 110, 0.4);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  border-radius: 12px;
  backdrop-filter: (20px);
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.login-form h3 {
  padding: 20px;
  font-size: 1.6rem;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form label {
  padding: 4px 0;
  text-align: left;
  color: #fff;
}

form input {
  height: 30px;
  width: 200px;
  padding: 10px 10px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.submit {
  margin-top: 20px;
  height: 40px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: 600;
  cursor: pointer;
}

.submit:hover {
  background-color: #009dd6;
  transition: 0.3s ease-in-out;
  backdrop-filter: (5px);
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.member {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.member label {
  color: #e37b04;
  padding: 0 10px;
}

.member input {
} */
